/* RESETEO */

@import url(reset.css);

* {
    box-sizing: border-box;
}

/* VARIABLES */

:root {
    --hueco: 0.5rem;
    --titulo1: 2rem;
    --titulo2: 1.75rem;
    --titulo3: 1.5rem;
    --titulo4: 1.25rem;
    --titulo5: 1.15rem;
    --titulo6: 1.05rem;
    --color-fondo: white;
    --color-tinta: black;
    --color-fondo-suave: lightgray;
}

/* ETIQUETAS GENERALES */

body {
    font-family: sans-serif;
    line-height: calc(1rem + var(--hueco));

    background-color: var(--color-fondo);
    color: var(--color-tinta);
}

a {
    text-decoration: none;
    color: rgb(9, 56, 168);
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: var(--titulo1);
    line-height: calc(var(--titulo1) + var(--hueco));
    font-variant: small-caps;
}

h2 {
    font-size: var(--titulo2);
    padding: var(--hueco);
    text-align: center;
    background-color: var(--color-fondo-suave);
}

h3 {
    padding: var(--hueco) 0;
    font-size: var(--titulo3);
    border-bottom: 1px solid black;
}

p, ul, ol, dl {
    margin: 1rem 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

pre {
    font-family: monospace;
    background-color: var(--color-fondo-suave);
    padding: var(--hueco);
    border: 1px solid black;
    border-radius: var(--hueco);
}

ul {
    list-style: square;
}

ol {
    list-style: lower-alpha;
}

li {
    margin-left: 1rem;
}

dt {
    font-weight: bold;
}

dd {
    padding-left: 1rem;
}

table > caption {
    font-weight: bold;
    margin: var(--hueco) 0;
}

table {
    border: 1px solid black;
}

th, td {
    padding: var(--hueco);
    border: 1px solid darkgray;
}

th {
    font-weight: bold;
}

thead, tfoot {
    background-color: var(--color-tinta);
    color: var(--color-fondo);
}

tbody tr:nth-child(even) {
    background-color: var(--color-fondo-suave);
}

img, audio, video {
    width: 100%;
}

form {
    margin: calc(var(--hueco) * 2) 0;
}

input, select, textarea {
    width: 100%;
    margin: var(--hueco) 0;
}

/* CLASES GLOBALES */

.muymarcado {
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--color-fondo-suave);
    padding: var(--hueco);
}

/* ESTRUCTURA */

/* Cabecera */

header, footer {
    background-color: var(--color-tinta);
    color: var(--color-fondo);

    padding: var(--hueco);

    text-align: center;
}

/* Menú */

body > nav {
    background-color: var(--color-tinta);
    text-align: center;
    padding: var(--hueco);
    border-top: 1px solid var(--color-fondo);
}

body > nav li {
    margin: 0;
}

body > nav a {
    display: inline-block;
    color: var(--color-fondo);
    width: 100%;
    padding: var(--hueco);
    text-transform: uppercase;
    font-weight: bold;
}

body > nav a:hover {
    background-color: var(--color-fondo);
    color: var(--color-tinta);
    text-decoration: none;
}

/* Main */

main, aside {
    padding: var(--hueco);
}

aside ul {
    list-style: none;
    background-color: var(--color-fondo-suave);
    padding: var(--hueco);
    border-radius: var(--hueco);
}

aside a {
    font-weight: bold;
}