<!DOCTYPE html>
<html th:replace="~{_plantilla :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cliente</title>
</head>
<body>
	<main>
		<h1>Cliente</h1>

		<form th:action="@{/admin/clientes}" method="post" action="#"
			th:object="${cliente}">

			<div class="row mb-3">
				<label for="id" class="col-sm-2 col-form-label">Id</label>
				<div class="col-sm">
					<input type="number" readonly class="form-control" th:classappend="${#fields.hasErrors('id') ? 'is-invalid': ''}" th:field="*{id}">
					<div class="invalid-feedback" th:errors="*{id}">Error de id</div>
				</div>
			</div>
			<div class="row mb-3">
				<label for="nif" class="col-sm-2 col-form-label">NIF</label>
				<div class="col-sm">
					<input type="text" class="form-control" th:classappend="${#fields.hasErrors('nif') ? 'is-invalid': ''}" th:field="*{nif}">
					<div class="invalid-feedback" th:errors="*{nif}">Error de nif</div>
				</div>
			</div>
			<div class="row mb-3">
				<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm">
					<input type="text" class="form-control" th:classappend="${#fields.hasErrors('nombre') ? 'is-invalid': ''}" th:field="*{nombre}">
					<div class="invalid-feedback" th:errors="*{nombre}">Error de nombre</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="offset-sm-2 col-sm">
					<button class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</form>
	</main>
</body>
</html>