<!DOCTYPE html>
<html th:replace="~{_plantilla :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Empleados</title>
</head>
<body>
	<main>
		<table class="table table-hover table-bordered table-striped">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>NIF</th>
					<th>Nombre</th>
					<th>Sueldo</th>
					<th>Jefe</th>
					<th>OPCIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="empleado: ${empleados}" th:object="${empleado}">
					<th th:text="*{id}">1</th>
					<td th:text="*{nif}">12345678Z</td>
					<td th:text="*{nombre}">El nombre</td>
					<td th:text="*{sueldo}">12345€</td>
					<td>El JEFE</td>
					<td><a class="btn btn-sm btn-primary"
						th:href="@{/admin/clientes/editar/{id}(id=*{id})}" href="#">Editar</a>
						<a class="btn btn-sm btn-danger"
						th:href="@{/admin/clientes/borrar/{id}(id=*{id})}" href="#">Borrar</a>
					</td>
				</tr>
			</tbody>
			<tfoot class="table-dark">
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><a class="btn btn-sm btn-primary"
						th:href="@{/admin/clientes/anadir}" href="#">Añadir</a></td>
				</tr>
			</tfoot>
		</table>
	</main>
</body>
</html>