<!doctype html>
<html lang="es"
	th:replace="~{_plantilla :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>IparHouse</title>
</head>

<body>
	<main class="container-fluid">
		<div class="row row-cols-1"
			th:classappend="${inmueble != null} ? row-cols-sm-2 : ''">
			<section id="seccion-listado" class="col">
				<h2 class="visually-hidden bg-secondary">Listado</h2>

				<form class="mb-3" th:action="@{/}" method="post" th:object="${busqueda}">
					<input type="text" class="form-control mb-2"
						placeholder="Busca vivienda por nombre o dirección"
						th:field="*{nombreODireccion}">

					<div class="btn-group mb-2 w-100">
						<input type="radio" class="btn-check" 
							autocomplete="off" id="todas" th:checked="${busqueda.tipo == 'Todas'}" name="tipo" value="Todas"> <label
							class="btn btn-primary" for="todas">Todas</label> <input
							type="radio" class="btn-check" th:checked="${busqueda.tipo == 'Alquiler'}" id="alquiler" name="tipo"
							autocomplete="off" value="Alquiler"> <label class="btn btn-primary"
							for="alquiler">Alquiler</label> <input type="radio"
							class="btn-check" th:checked="${busqueda.tipo == 'Venta'}" id="venta" name="tipo" value="Venta" autocomplete="off">
						<label class="btn btn-primary" for="venta">Venta</label>
					</div>

					<p class="mb-2">
						<strong>Rango de precio:</strong>
					</p>

					<div class="row mb-3">
						<label class="col-2 form-label" for="minimo">Min</label>
						<div class="col-4">
							<input class="form-control" type="number" th:field="*{minimo}">
						</div>
						<label class="col-2 form-label" for="maximo">Max</label>
						<div class="col-4">
							<input class="form-control" type="number" th:field="*{maximo}">
						</div>
					</div>

					<div class="row">
						<div class="col">
							<button class="btn btn-primary w-100">Buscar</button>
						</div>
					</div>
				</form>

				<div id="listado" class="border rounded">
					<h3 class="text-bg-primary p-2 fs-6 ps-3 rounded-top">Lista de
						viviendas</h3>

					<div class="row row-cols-2 g-4">
						<div class="col" th:each="inmueble: ${inmuebles}"
							th:object="${inmueble}">
							<div class="card h-100">
								<img src="https://placeimg.com/480/640/arch?1"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title fs-6" th:text="*{nombre}">Ático
										junto a la ría</h5>
									<p class="card-text">
										<span th:text="*{tipo}">Alquiler</span>: <span
											th:text="*{precio}">2.500,00€</span>
									</p>
									<p>
										<a class="btn btn-primary stretched-link" th:href="@{/detalle/{id}(id=*{id})}">Ver detalle</a>
									</p>
									<p class="position-absolute m-4 top-0 end-0">
										<i class="bi bi-bag-fill rounded-circle p-2"
											th:classappend="${inmueble.tipo == 'Alquiler'} ? text-bg-success : text-bg-danger"></i>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="detalle" class="col" th:object="${inmueble}"
				th:if="${inmueble != null}">
				<h2 class="visually-hidden bg-danger">Detalle</h2>
				<div class="card">
					<img src="https://placeimg.com/480/320/arch?2" class="card-img-top"
						alt="...">
					<div class="card-body">
						<h5 class="card-title fs-6" th:text="*{nombre}">Estudio en
							Bilbao</h5>
						<p class="card-text">
							<span th:text="*{tipo}">Alquiler</span>: <span
								th:text="*{precio}">2.500,00€</span>
						</p>
						<ul>
							<li th:each="s: ${servicios}" th:text="${s.cantidad} + ' ' + ${s.nombre}"></li>
						</ul>
						<p class="position-absolute m-4 top-0 end-0">
							<i class="bi bi-bag-fill rounded-circle p-2"
								th:classappend="${inmueble.tipo == 'Alquiler'} ? text-bg-success : text-bg-danger"></i>
						</p>
					</div>
				</div>
			</section>
		</div>
	</main>

</body>

</html>