<!DOCTYPE html>
<html th:replace="~{_plantilla :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Springzon</title>
</head>
<body>
	<main class="d-flex justify-content-center">

		<form th:action="@{/login}" method="post">
			<div class="row mb-3">
				<label for="username" class="col-sm-4 col-form-label">Usuario</label>
				<div class="col-sm">
					<input class="form-control" id="username" name="username">
				</div>
			</div>
			<div class="row mb-3">
				<label for="password" class="col-sm-4 col-form-label">Contraseña</label>
				<div class="col-sm">
					<input class="form-control" type="password" id="password"
						name="password">
				</div>
			</div>
			<div class="row mb-3">
				<div class="offset-sm-4 col-sm">
					<button class="btn btn-primary">Iniciar sesión</button>
					<div class="text-danger" th:if="${param.error}">Usuario o contraseña incorrectos</div>
					<div class="text-danger" th:if="${param.logout}">Has cerrado la sesión</div>
				</div>
			</div>
		</form>
	</main>
</body>
</html>